@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:700&display=swap');

/*

Así se escriben los comentario en CSS.
Siempre se abren con slash asterisco, y
se cierran con asterisco slash.

*/
/* El cursor lo sacamos de una pagina web de cursores disponibles para descargar :)
*/

*{
    margin:0;
    padding:0;
}

body{
    font-family:'Nunito','Open Sans', 'Roboto', 'Helvetica', sans-serif;
    font-weight:400;
    color:#373737;
    background-color:#ffd1e6; /*el primer par es R, segundo es G y tercero es B*/
    cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur243.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur243.png), pointer;

}

h1 {
    font-family:'Futura', monospace;
    color:#FFFFFF; /* lo básico, para evitar problemas */
    color:rgba(255,255,255,1); /* si el navegador lo entiende, lo usa */
    text-align:left;
    letter-spacing:0.1em;
    font-weight:700;
    padding-left: 2rem;
    width:20%;
    background-color: #ffd1e6;
    text-shadow:#f48fb1 2px 5px;;
}
h2{
    font-family:'Futura', monospace;
    color:#FFFFFF; /* lo básico, para evitar problemas */
    color:rgba(255,255,255,1); /* si el navegador lo entiende, lo usa */
    text-align:left;
    letter-spacing:0.3em;
    font-weight:500;
    padding-left: 2rem;
    padding-top: 0.5rem;
    width:20%;

}

h1{
    font-size:3rem;
    cursor: cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur243.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur243.png), pointer;
}

h2{
    font-size:1rem;
    letter-spacing:0.1em;
}

@media screen and (max-width: 768px){
    h1{ font-size:2.25rem; }
    h2{ font-size:1.5rem; }
}

@media screen and (max-width: 576px){
    h1{ font-size:1.5rem; }
    h2{ font-size:1rem; }
}

h3{
    display:none;
}

h5, h6{
    font-weight:700;
}

a{
    color:#f48fb1;
    text-decoration:none;
}

a:hover{
    color:#bf5f82;
    text-decoration:none;
}

header{
    width:100%;
    top:36%;
    position: absolute;
    text-align:center;
    z-index:9;
    cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur243.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur243.png), pointer;
}

@media screen and (orientation: portrait){
    header{ top:12%; }
}

video{
    width:98%;
    padding:1% 1% .75% 1%;
    height:auto;
    filter: opacity(0.8);
}
main{
    width:100%;
}

/*
Puedes revisar detalles sobre el siguiente uso de flex
en https://www.taniarascia.com/easiest-flex-grid-ever/
*/

#equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#fff /* lo mismo que #FFFFFF, simplificando pares iguales*/;
    color:rgba(255,255,255,1);
}

#equipo a{
    color:rgba(255,255,255,.7);
}

#equipo a:hover{
    color:rgba(255,255,255,.9);
}

.integrante {
    flex-basis: 100%;
}

.integrante:hover {
  cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur243.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur243.png), pointer;
}

@media screen and (orientation: landscape){
    .integrante { flex:1; }
}

.integrante h4{
    padding: 2rem 2rem 0.25rem 2rem;
}

.integrante address{
    padding: 0.25rem 2rem;
    font-size:0.8em;
    font-style:normal;
}

.integrante blockquote{
    padding: 6rem 2rem 2rem 2rem;
}

@media screen and (orientation: landscape){
    .integrante blockquote{
        padding: 6rem 2rem 2rem 2rem;
        max-width:50%;
    }
}

.integrante blockquote cite {
    display:block;
    font-style: normal;
    font-weight: 700;
    font-size:.7rem;
    letter-spacing : 0.1rem;
    padding-top:0.25rem;
    color:rgba(255,255,255,.75);
}

.integrante blockquote cite:before {
    content:"— ";
}

.integrante:nth-of-type(1){
    background-color:#fca8d6;
    background-image:url('media/Fran.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}


.integrante:nth-of-type(2){
    background:#fca8d6;
    background-image:url('media/Jesusin.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}

.integrante:nth-of-type(3){
    background:#fca8d6;
    background-image:url('media/Su.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
}
.integrante:nth-of-type(1):hover{
    background-color:#5c6bc0;
    background-image:url('media/Fran.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
    background-image:url('media/fire.gif');
}

.integrante:nth-of-type(2):hover{
    background:#4dd0e1;
    background-image:url('media/Jesusin.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
    background-image:url('media/fire.gif');
}

.integrante:nth-of-type(3):hover{
    background:#f06292;
    background-image:url('media/Su.png');
    background-position: bottom right;
    background-size:auto 90%;
    background-repeat: no-repeat;
    background-image:url('media/fire.gif');
}
/*

AHORA VAMOS POR PORTAFOLIO

*/

#portafolio{
    width:100%;
    padding:.25% 0;
    background:linear-gradient(to bottom, #ffd1e6, #FFFFFF);
}

.item {
    width:23%;
    margin:1%;
    color:#333;
    background:#eee;
    box-shadow:0 0 5px rgba(0,0,0,.5);
    font-family:'Nunito','Open Sans','Roboto', sans-serif;
}

@media screen and (max-width: 768px){
    .item{
        width:48%;
        margin:1%;
        background:#333;
        color:#eee;
    }
}
 @media screen and (max-width: 576px){
     .item{
         width:96%;
         margin:2%;
         background:#000;
         color:#FFF;
    }
}
 .item:hover{
   cursor: url(http://cur.cursors-4u.net/cursors/cur-3/cur243.ani), url(http://cur.cursors-4u.net/cursors/cur-3/cur243.png), pointer;
}
 .item figure{
     overflow:hidden;
}
 .item figure img{
     width:100%;
     height:auto;
     margin-bottom:-4px;
     filter:saturate(0);
}
 .item:hover figure img{
     transform:scale(0.9);
     filter: saturate(1);
     transition:1.5s;
}
 .item h4{
     font-size:1em;
     letter-spacing:0.075em;
     margin:5% 5% 3% 5%;
     color: #b4004e;
}
 .item p{
     font-size:0.875em;
     letter-spacing:0.07em;
     margin:3% 7% 9% 7%;
}
 footer{
     width:93%;
     padding:0.5em 0 0.5em 0;
     text-align:center;
     margin:3%;
}
 footer p{
     text-transform:uppercase;
     padding-bottom: 0.5em;
     letter-spacing:0.5em;
     font-size:0.5em
     color: #00acc1;
     text-align:center;
}
